<DOCTYPE! html>
  <html>

  <head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles/header.css" type="text/css">
    <link rel="icon" href="/assets/images/foxycake.png">
    <title>Foxy | Loja</title>
    <link rel="stylesheet" href="/styles/dashboard.css" type="text/css">
  </head>

  <body>
    <main>
      <div class="itens">
        <% storeContent.decorations.forEach(decoration=> { %>
        <% if (decoration.cakes==0 || decoration.inactive) { return; } %>
        <div class="item <%= userDecorations.includes(decoration.id) ? " disabled" : "" %>" <% if (!userDecorations.includes(decoration.id)) { %> onclick="showPopup('<%= decoration.id %>')" <% } %>>
          <div class="item__icon">
            <img class="background" src="https://orchid.cakeyfox.live/assets/masks/<%=decoration.filename%>" onerror="this.src='https://cakey.foxybot.win/assets/masks/<%=decoration.filename%>'">
          </div>
          <div class="server__info">
            <h1>
              <%= decoration.name %>
            </h1>
            <p>
              <% if (userData.userProfile.decorationList.includes(decoration.id)) { %>
              <span class="purchased">💖 Já comprado</span>
              <% } else { %>
              <span class="cakes">
                <%= decoration.cakes.toLocaleString("pt-BR") %> Cakes
              </span>
              <% } %>
            </p>
          </div>
        </div>
        <% }); %>
      </div>
      <%- include('../../sidebar') %>
    </main>
    <div id="popup" class="popup">
      <div class="popup-content">
        <span class="close" onclick="hidePopup()">&times;</span>
        <h2>Confirmar compra</h2>
        <h3>Ao comprar esse item ele será definido automaticamente no seu perfil</h3>
        <form id="purchaseForm" method="POST">
          <input type="hidden" name="backgroundId" id="backgroundId">
          <input class="server__button" id="save" type="submit" value="Comprar">
        </form>
      </div>
    </div>

    <script>
      function showPopup(backgroundId) {
        document.getElementById('backgroundId').value = backgroundId;
        document.getElementById('popup').style.display = 'block';
      }

      document.getElementById('purchaseForm').addEventListener('submit', function(event) {
        var backgroundId = document.getElementById('backgroundId').value;
        this.action = "/br/store/decorations/confirm/" + backgroundId;
      });

      function hidePopup() {
        document.getElementById('popup').style.display = 'none';
      }
    </script>
  </body>
  <script src="../js/HeaderMobile.js"></script>

  </html>