<DOCTYPE! html>
    <html>

    <head>
        <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/styles/header.css" type="text/css">
        <link rel="icon" href="/assets/images/foxycake.png">
        <title>Foxy | Loja</title>
        <link rel="stylesheet" href="/styles/dashboard.css" type="text/css">
    </head>

    <body>
        <%- include('../../global/header') %>
            <main>
                <div class="itens">
                    <% userBackgrounds.forEach(background=> { %>
                        <div class="item <%= currentBackground === background.id ? 'disabled' : ''  %>" <% if
                            (currentBackground !==background.id) { %>
                            onclick="change('<%= background.id %>')"
                                <% } %>>
                                    <div class="item__icon">
                                        <img class="background"
                                            src="https://orchid.cakeyfox.live/assets/backgrounds/<%=background.filename%>"
                                            onerror="this.src='https://cakey.foxybot.win/assets/backgrounds/<%=background.filename%>'">
                                    </div>

                                    <% if (currentBackground===background.id) { %>
                                        <span class="purchased">Selecionado</span>
                                        <% } %>
                        </div>
                        <% }); %>
                </div>
                <%- include('../sidebar') %>
            </main>

            <script>
                function change(backgroundId) {
                    window.location.href = "/br/background/change/" + backgroundId;
                }
            </script>
    </body>
    <script src="../js/HeaderMobile.js"></script>

    </html>