<DOCTYPE! html>
    <html>

    <head>
        <script async
            src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649"
            crossorigin="anonymous"></script>
        <link rel="stylesheet" href="/styles/header.css" type="text/css">
        <link rel="icon" href="/assets/images/foxycake.png">
        <title>Foxy | Loja</title>
        <link rel="stylesheet" href="/styles/dashboard.css" type="text/css">
    </head>

    <body>
        <%- include('../../global/header') %>
            <main>
                <% if (userDecorations) { %>
                    <div class="itens">
                        <% userDecorations.forEach(decoration=> { %>
                            <div class="item <%= currentDecoration === decoration.id ? 'disabled' : ''  %>" <% if
                                (userDecorations !==decoration.id) { %>
                                onclick="change('<%= decoration.id %>')"
                                    <% } %>>
                                        <div class="item__icon">
                                            <img class="background"
                                                src="https://orchid.cakeyfox.live/assets/masks/<%=decoration.filename%>"
                                                onerror="this.src='https://cakey.foxybot.win/assets/masks/<%=decoration.filename%>'">
                                        </div>
    
                                        <% if (currentDecoration===decoration.id) { %>
                                            <span class="purchased">Selecionado</span>
                                            <% } %>
                            </div>
                            <% }); %>
                    </div>
                    <% } else { %>
                        <h1 class="title">Você não possui nenhuma decoração</h1>
                        <% } %>
                <%- include('../sidebar') %>
            </main>

            <script>
                function change(backgroundId) {
                    window.location.href = "/br/decorations/change/" + backgroundId;
                }
            </script>
    </body>
    <script src="../js/HeaderMobile.js"></script>

    </html>