<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/styles/header.css">
  <link rel="stylesheet" href="/styles/utils.css">
  <link rel="stylesheet" href="/styles/dashboard.css">
  <link rel="stylesheet" href="/styles/footer.css">
  <link rel="icon" href="/assets/images/foxycake.png">
  <title>Foxy | Roleta</title>

</head>

<body>
  <main>
    <div class="daily-page">
      <% if (allowed) { %>
      <audio src="/assets/audios/shiftcomplete.mp3" id="shiftcomplete" autoplay></audio>
      <img class="daily_image" src="/assets/images/foxyoculos.png" alt="roulette">
      <h1>Você ganhou um prêmio na roleta!</h1>
      <br>
      <h2>
        <strong id="coins">
          <%= result %> Cakes
        </strong>
      </h2>
      <br>
      <% if (db.roulette.availableSpins> 0) { %>
      <a href="/br/dashboard/roulette"><button class="home_button">Girar novamente (<%=
                                    db.roulette.availableSpins %>)</button></a>
      <% } else { %>
      <a href="#"><button class="home_button disabled">Girar novamente (<%=
                                        db.roulette.availableSpins %>)</button></a>
      <a href="/br/premium"><button class="home_button">Comprar giros</button></a>
      <style>
        .home_button.disabled {
          opacity: .5;
          cursor: not-allowed;
        }
      </style>
      <% } %>
      <a href="/br/dashboard"><button class="home_button">Voltar</button></a>
      <% } else { %>
      <img class="daily_image" src="/assets/images/foxycry.png" alt="no spins">
      <h1>Você não tem giros restantes</h1>
      <br>
      <a href="#"><button class="home_button disabled">Girar novamente (<%=
                                                db.roulette.availableSpins %>)</button></a>
      <a href="/br/premium"><button class="home_button">Comprar giros</button></a>
      <style>
        .home_button.disabled {
          opacity: .5;
          cursor: not-allowed;
        }
      </style>
      <a href="/br/dashboard"><button class="home_button">Voltar</button></a>
      <% } %>
    </div>
    <%- include('../sidebar') %>
  </main>
</body>
<script src="../js/HeaderMobile.js"></script>

</html>