<!DOCTYPE html>
<html>

<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/pages.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="icon" href="../assets/images/foxycake.png">
    <title>Foxy | Confirm</title>
</head>

<body>
    <header>
        <nav class="navigation-bar fixed" data-preload-persist="true" id="navigation-bar">
            <div class="left-side-entries">
                <div class="entry foxy-navbar-logo"><a href="/"><img src="../assets/images/Foxy.png" style="    font-size: 0px;
                    line-height: 0px;
                    width: 40px;
                    height: 40px;

                    position: absolute;
                    top: 3px;
                    border-radius: 100%;"></a></div>
                <div class="entry"><a href="/support" class="menu" data-preload-link="true"
                        data-preload-link-activated="true">
                        Suporte
                    </a></div>
                <div class="entry"><a href="/terms" class="menu" data-preload-link="true"
                        data-preload-link-activated="true">
                        Termos
                    </a></div>

                <div class="entry"><a href="https://github.com/FoxyTheBot" class="extras" data-preload-link="true"
                        data-preload-link-activated="true">
                        GitHub
                    </a></div>

                <div class="entry"><a href="/report" class="blog" data-preload-link="true"
                        data-preload-link-activated="true">
                        Sugerir
                    </a></div>
                <div class="entry"><a href="/about" class="about">
                        Sobre
                    </a></div>
                <div class="entry"><a href="/upvote" class="menu">
                        Votar
                    </a></div>
            </div>
            <div class="right-side-entries">

                <div class="entry" id="locale-changer-button" style="cursor: default;">
                    </span>
                </div>
                <div class="entry">
                    <a href="/dashboard" id="login-button"><img
                            src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" style="    font-size: 0px;
                        line-height: 0px;
                        width: 40px;
                        height: 40px;

                        position: absolute;
                        top: 3px;
                        border-radius: 100%;">
                        <div style="    font-size: 0px;
                        line-height: 0px;
                        width: 40px;
                        visibility: hidden;
                        height: 0px;
                        display: inline-block;"></div><span style="padding-left: 4px;">
                            <%= user.username %>
                        </span>
                    </a>
                </div>
            </div>
            </div>
        </nav>
        <button id="menu" class="mobile">Menu</button>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="/github">GitHub</a>
            <a href="/discord">Suporte</a>
            <a href="/terms">Termos de uso</a>
            <a href="/dashboard">Dashboard</a>
        </div>
    </div>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="/github">GitHub</a>
            <a href="/discord">Suporte</a>
            <a href="/terms">Termos de uso</a>
            <a href="/logout">Sair</a>
            <a href="/dashboard">
                <%= user.username %>
            </a>
        </div>
    </div>
    <main>
        <img class="main__image" src="../assets/images/foxymedu.png" alt="dashboard">
        <h1>Você está prestes a deletar sua conta!</h1>
        <br>
        <h3>Ao clicar em 'Deletar Conta' sua conta será deletada instantaneamente</h3>
        <br>
        <h4>Se você fazer isso você perderá TUDO QUE POSSUI na Foxy como:</h4>
        <br>
        <h4>
            <%= db.balance %> Cakes <br>
                <%= db.repCount %> Reputações <br> Todos os seus backgrounds <br> Entre outros...
        </h4>
        <div class="main__buttons">
            <a class="action__btn" href="/delete"><button class="danger_btn">Deletar Conta</button></a>
            <a href="/dashboard" id="default"><button class="default-button">Voltar</button></a>
        </div>
    </main>

</body>
<script src="../js/HeaderMobile.js"></script>

</html>