<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/dashboard.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="icon" href="../assets/images/foxycake.png">
    <title>Foxy | Dashboard</title>
</head>

<body>
    <header>
        <a class="logo" href="/"><img src="../assets/images/Foxy.png" alt="logo"></a>
        <nav>
            <ul class="nav__links">
                <li> <a href="/github">GitHub</a></li>
                <li><a href="/privacy">Termos</a></li>
                <li><a href="/discord">Suporte</a></li>
                <li><a href="/team">Equipe</a></li>
                <li><a href="/commands">Comandos</a></li>
                <li><a href="/logout">Sair</a></li>
            </ul>
        </nav>
        <a class="cta" href="/">Home</a>
        <p class="menu cta">Menu</p>
    </header>
    <main>
        <img class="user__avatar"
            src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?size=1024">
        <h1> Olá, <%= user.username%>#<%= user.discriminator %>
        </h1>
        <br>
        <h3>Você possui <%= db.repCount %> reps.</h3>
        <h3>Você possui <%= db.balance %> FoxCoins.</h3>
        <br>
        <h3><strong>Sobre Mim:</strong>
            <%= aboutme %>
        </h3>
        <div class="action__buttons">
            <a href="/daily" id="default"><button class="default-button">Daily</button></a>
        </div>
        <br>
        <br>
        <br>
    </main>

</body>

</html>