<!DOCTYPE html>
<html>

<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649"
        crossorigin="anonymous"></script> crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="stylesheet" href="../styles/utils.css">
    <link rel="stylesheet" href="../styles/footer.css">
    <link rel="icon" href="../assets/images/foxycake.png">
    <audio src="../assets/audios/shiftcomplete.mp3" id="shiftcomplete" autoplay></audio>
    <title>Foxy | Daily</title>
</head>

<body>
    <header>
        <nav class="navigation-bar fixed" data-preload-persist="true" id="navigation-bar">
            <div class="left-entries">
                <div class="entry foxy-navbar-logo"><a href="/"><img src="../assets/images/Foxy.png" style="    font-size: 0px;
                    line-height: 0px;
                    width: 40px;
                    height: 40px;

                    position: absolute;
                    top: 3px;
                    border-radius: 100%;"></a></div>
                <div class="entry"><a href="/br/support" class="menu" data-preload-link="true"
                        data-preload-link-activated="true">
                        Suporte
                    </a></div>
                <div class="entry"><a href="/br/terms" class="menu" data-preload-link="true"
                        data-preload-link-activated="true">
                        Termos
                    </a></div>
                <div class="entry"><a href="/upvote" class="menu">
                        Votar
                    </a></div>
                <div class="entry"><a href="/br/premium" class="menu">
                        Premium
                    </a></div>
                <div class="entry"><a href="/br/commands" class="menu">
                        Comandos
                    </a></div>
            </div>
            <div class="right-entries">

                <div class="entry" id="locale-changer-button" style="cursor: default;">
                    </span>
                </div>
                <div class="entry">
                    <a href="/br/dashboard" id="login-button"><img
                            src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" style="    font-size: 0px;
                        line-height: 0px;
                        width: 40px;
                        height: 40px;

                        position: absolute;
                        top: 3px;
                        border-radius: 100%;">
                        <div style="    font-size: 0px;
                        line-height: 0px;
                        width: 40px;
                        visibility: hidden;
                        height: 0px;
                        display: inline-block;"></div><span style="padding-left: 4px;">
                            <%= user.global_name %>
                        </span>
                    </a>
                </div>
            </div>
            </div>
        </nav>
        <button id="menu" class="mobile">Menu</button>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="/github">GitHub</a>
            <a href="/discord">Suporte</a>
            <a href="/br/terms">Termos de uso</a>
            <a href="/br/dashboard">Dashboard</a>
        </div>
    </div>
    <main>
        <img class="main__image" src="../assets/images/foxyoculos.png" alt="dashboard">
        <h1>Você recebeu seu prêmio diário e...</h1>
        <br>
        <h2>
            Ganhou
            <strong id="coins">
                <%= coins %>
            </strong> Cakes
        </h2>
        <br>
        <h3>Agora você possui <%= dbCoins %> Cakes
                <br>
        </h3>
        <br>
        <a href="/br/dashboard"><button class="home_button">Voltar</button></a>

    </main>

</body>
<script src="../js/HeaderMobile.js"></script>

</html>