<!DOCTYPE html>
<html>

<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649"
    crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="icon" href="../assets/images/foxycake.png">
    <title>Foxy | Dashboard</title>
    <link rel="stylesheet" href="/styles/dashboard.css" type="text/css">
</head>

<body>
    <header>
        <nav class="navigation-bar fixed" data-preload-persist="true" id="navigation-bar">
            <div class="left-side-entries">
                <div class="entry foxy-navbar-logo"><a href="/"><img src="../assets/images/Foxy.png" style="    font-size: 0px;
                    line-height: 0px;
                    width: 40px;
                    height: 40px;

                    position: absolute;
                    top: 3px;
                    border-radius: 100%;"></a></div>
                <div class="entry"><a href="/support" class="menu" data-preload-link="true"
                        data-preload-link-activated="true">
                        Suporte
                    </a></div>
                <div class="entry"><a href="/terms" class="menu" data-preload-link="true"
                        data-preload-link-activated="true">
                        Termos
                    </a></div>
                <div class="entry"><a href="https://github.com/FoxyTheBot" class="extras" data-preload-link="true"
                        data-preload-link-activated="true">
                        GitHub
                    </a></div>
                <div class="entry"><a href="/about" class="menu">
                        Sobre
                    </a></div>
                <div class="entry"><a href="/upvote" class="menu">
                        Votar
                    </a></div>
          <div class="entry"><a href="/premium" class="menu">
            Premium
          </a></div>
            </div>
            <div class="right-side-entries">
                <div class="entry"><a class="theme-changer" id="theme-changer-button"><span>
                        </span><span style="display: none;">
                        </span></a></div>
                <div class="entry" id="locale-changer-button" style="cursor: default;">
                    </span>
                </div>
                <div class="entry">
                    <a href="/dashboard" id="login-button"><img
                            src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" style="    font-size: 0px;
                        line-height: 0px;
                        width: 40px;
                        height: 40px;

                        position: absolute;
                        top: 3px;
                        border-radius: 100%;">
                        <div style="    font-size: 0px;
                        line-height: 0px;
                        width: 40px;
                        visibility: hidden;
                        height: 0px;
                        display: inline-block;"></div><span style="padding-left: 4px;">
                            <%= user.global_name %>
                        </span>
                    </a>
                </div>
            </div>
            </div>
        </nav>
        <button id="menu" class="mobile">Menu</button>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="/github">GitHub</a>
            <a href="/discord">Suporte</a>
            <a href="/terms">Termos de uso</a>
            <a href="/dashboard">Dashboard</a>
        </div>
    </div>
    <main>
        <img class="main__image"
            src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png?size=1024">

        <div class="user__statistics">
            <h1 class="username">
                <%= user.global_name %>
            </h1>

            <div class="user-status">
                <h3 class="bal">Cakes: <strong id="value">
                        <%= db.balance.toLocaleString("pt-BR") %>
                    </strong></h3>
                <h3 class="rep">Reputações:<strong id="value">
                        <%= db.repCount.toLocaleString("pt-BR") %>
                    </strong></h3>
                <br>
                <br>
                <br>
                <br>
            </div>
        </div>
        <div class="dashboard_section">
            <div class="main__buttons">
                <% if (allowed===true) { %>
                    <a class="action__btn" href="/daily"><button class="btn primary">Daily</button></a>
                    <% } else { %>
                        <a class="action__btn" href="/daily"><button class="btn primary" disabled>Daily</button></a>
                        <% } %>
                            <a class="action__btn" href="/aboutme"><button class="btn primary">Sobre
                                    mim</button></a>
                            <a class="action__btn" href="/servers"><button class="btn primary">Gerenciar servidores</button></a>
                            <a class="action__btn" href="/logout"><button class="btn danger">Sair</button></a>
                            <br>
                            <a class="action__btn" href="/confirm"><button class="btn danger">Deletar
                                    Conta</button></a>

            </div>
        </div>
        <div class="aboutme-session">
            <h3 class="aboutme-title">Sobre mim: <br><br>
                <%= aboutme %>
            </h3>
        </div>
    </main>
</body>
<script src="../js/HeaderMobile.js"></script>

</html>