<!DOCTYPE html>
<html>

<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="icon" href="../assets/images/foxycake.png">
    <title>
        <%= guild.name %>
    </title>
    <link rel="stylesheet" href="/styles/dashboard.css" type="text/css">
</head>

<body>
    <header>
        <nav class="navigation-bar fixed" data-preload-persist="true" id="navigation-bar">
            <div class="left-entries">
                <div class="entry foxy-navbar-logo">
                    <a href="/"><img src="../assets/images/Foxy.png" style="font-size: 0px;
                        line-height: 0px;
                        width: 40px;
                        height: 40px;
                        position: absolute;
                        top: 3px;
                        border-radius: 100%;">
                    </a>
                </div>
                <div class="entry">
                    <a href="/br/support" class="menu" data-preload-link="true"
                        data-preload-link-activated="true">Suporte</a>
                </div>
                <div class="entry">
                    <a href="/br/terms" class="menu" data-preload-link="true" data-preload-link-activated="true">Termos</a>
                </div>
                <div class="entry">
                    <a href="/upvote" class="menu">Votar</a>
                </div>
                <div class="entry"><a href="/br/premium" class="menu">
                        Premium
                    </a></div>
                <div class="entry"><a href="/br/commands" class="menu">
                        Comandos
                    </a></div>
            </div>
            <div class="right-entries">
                <div class="entry">
                    <a class="theme-changer" id="theme-changer-button">
                        <span></span>
                        <span style="display: none;"></span>
                    </a>
                </div>
                <div class="entry" id="locale-changer-button" style="cursor: default;"></div>
                <div class="entry">
                    <a href="/br/dashboard" id="login-button">
                        <img src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" style="font-size: 0px;
                            line-height: 0px;
                            width: 40px;
                            height: 40px;
                            position: absolute;
                            top: 3px;
                            border-radius: 100%;">
                        <div style="font-size: 0px;
                            line-height: 0px;
                            width: 40px;
                            visibility: hidden;
                            height: 0px;
                            display: inline-block;"></div>
                        <span style="padding-left: 4px;">
                            <%= user.global_name %>
                        </span>
                    </a>
                </div>
            </div>
        </nav>
        <button id="menu" class="mobile">Menu</button>
    </header>

    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="/github">GitHub</a>
            <a href="/discord">Suporte</a>
            <a href="/br/terms">Termos de uso</a>
            <a href="/br/dashboard">Dashboard</a>
        </div>
    </div>

    <main>
        <!-- <div class="left-menu">
            

            <div class="guild_name">
                <%= guild.name %>
            </div>

            <div class="server-features">
                <div class="server-feature">
                    <a href="#" class="server-feature-link" id="autoRoleLink">Auto Role</a>
                                </div>    
            </div>
        </div> -->

        <div class="invite-blocker-section">
            <h2 class="feature-title">Bloqueador de convites</h2>
            <h3 class="feature-description">Utilize esse recurso para bloquear convites indesejados em seu servidor!
            </h3>
            <form id="inviteBlockerForm" action="/inviteblocker/save/<%= guild.id %>" method="POST"
                data-guild-id="<%= guild.id %>">
                <h3 class="input-text">Ativar m칩dulo?</h3>
                <h4 class="input-description">Ative para que eu possa bloquear convites em seu servidor</h4>
                <label class="switch">
                    <input type="checkbox" id="switch" name="inviteblocker" class="switch"
                        default-switch="<%= guildInfoFromDB.InviteBlockerModule.isEnabled %>">
                    <span class="slider round"></span>
                </label>
                <br>

                <h3 class="input-text">Mensagem quando um convite for enviado</h3>
                <h4 class="input-description">Edite a mensagem que ser치 enviada para o usu치rio quando um convite for
                    detecado</h4>
                <% var blockMessage=guildInfoFromDB.InviteBlockerModule.blockMessage; var message=blockMessage !==null ?
                    blockMessage.trim() : '' ; %>
                    <textarea id="messageTextArea" name="blockmessage" rows="6"
                        cols="50"><%- message !== '' ? message : 'Eii {user} n칚o envie convites aqui!' %></textarea>

                    <h3 class="form-text">Canais onde s칚o permitidos o envio de convites</h3>
                    <h4 class="input-description">Selecione os canais onde os usu치rios podem enviar convites</h4>
                    <select name="channels" id="channels">
                        <% channels.forEach(channel=> { %>
                            <% if (channel.type===0) { %>
                                <option value="<%= channel.id %>">
                                    <%= channel.name %>
                                </option>
                                <% } %>
                                    <% }) %>
                    </select>

                    <button type="button" id="addChannelButton">Adicionar Canal</button>
                    <h3 class="form-text">Cargos que podem enviar convites em qualquer lugar</h3>
                    <h4 class="input-description">Selecione os cargos que podem enviar convites em qualquer lugar</h4>
                    <select name="roles" id="roles">
                        <% roles.forEach(role=> { %>
                            <option value="<%= role.id %>">
                                <%= role.name %>
                            </option>
                            <% }) %>
                    </select>
                    <div class="notification error" id="notificationError">
                        <span id="notificationErrorText"></span>
                    </div>
                    <div class="notification" id="notification">
                        <span id="notificationText"></span>
                    </div>
                    <button type="button" id="addRoleButton">Adicionar Cargo</button>
                    <input type="hidden" name="selectedChannels" id="selectedChannelsInput" value="">
                    <input type="hidden" name="selectedRoles" id="selectedRolesInput" value="">
                    <input id="save" type="submit" value="Salvar">
            </form>
        </div>

        <div class="guild-join-section">
            <h2 class="feature-title">Avisar quando um usu치rio entrar ou sair do servidor</h2>
            <h3 class="feature-description">Utilize esse recurso para avisar quando um usu치rio entrar ou sair do
                servidor!</h3>

            <form id="guildJoinForm" action="/guildjoin/save/<%= guild.id %>" method="POST"
                data-guild-id="<%= guild.id %>">

                <h3 class="input-text">Ativar m칩dulo?</h3>
                <h4 class="input-description">Ative para que eu posso notificar quando um usu치rio entra e sai do seu
                    servidor </h4>
                <label class="guild-module-checkbox">
                    <input type="checkbox" id="guild-module-checkbox" name="guildjoin" class="switch"
                        default-switch="<%= guildInfoFromDB.GuildJoinLeaveModule.isEnabled %>">
                    <span class="slider round"></span>
                </label>
                <br>
                <h3 class="input-text">Avisar quando um usu치rio sair do servidor</h3>
                <h4 class="input-description">Caso esteja ativado eu irei avisar quando um usu치rio sair do servidor</h4>
                <label class="guild-leave-module-checkbox">
                    <input type="checkbox" id="guild-leave-module-checkbox" name="guildjoin" class="switch"
                        default-switch="<%= guildInfoFromDB.GuildJoinLeaveModule.alertWhenUserLeaves %>">
                    <span class="slider round"></span>
                </label>
                <br>

                <h3 class="input-text">Mensagem quando um usu치rio entrar no servidor</h3>
                <% var joinMessage=guildInfoFromDB.GuildJoinLeaveModule.joinMessage; var message=joinMessage !==null ?
                    joinMessage.trim() : '' ; %>
                    <textarea id="messageTextArea" name="message" rows="6"
                        cols="50"><%- message !== '' ? message : '游 {user} entrou no servidor!' %></textarea>

                    <h3 class="input-text">Mensagem quando um usu치rio sair do servidor</h3>
                    <% var leaveMessage=guildInfoFromDB.GuildJoinLeaveModule.leaveMessage; var message=leaveMessage
                        !==null ? leaveMessage.trim() : '' ; %>
                        <textarea id="messageTextArea" name="message" rows="6"
                            cols="50"><%- message !== '' ? message : '游뗴 {user} saiu do servidor' %></textarea>


                        <h3 class="form-text">Canal onde irei anunciar que algu칠m entrou no servidor</h3>
                        <select name="channels" id="channels">
                            <% channels.forEach(channel=> { %>
                                <% if (channel.type===0) { %>
                                    <option value="<%= channel.id %>">
                                        <%= channel.name %>
                                    </option>
                                    <% } %>
                                        <% }) %>
                        </select>

                        <button type="button" id="addJoinChannel">Adicionar Canal</button>

                        <h3 class="form-text">Canal onde irei anunciar que algu칠m saiu do servidor</h3>
                        <select name="channels" id="channels">
                            <% channels.forEach(channel=> { %>
                                <% if (channel.type===0) { %>
                                    <option value="<%= channel.id %>">
                                        <%= channel.name %>
                                    </option>
                                    <% } %>
                                        <% }) %>
                        </select>

                        <button type="button" id="addJoinChannel">Adicionar Canal</button>
                        <div class="notification error" id="notificationError">
                            <span id="notificationErrorText"></span>
                        </div>
                        <div class="notification" id="notification">
                            <span id="notificationText"></span>
                        </div>
                        <input id="save" type="submit" value="Salvar">
                        <br>
            </form>
        </div>
    </main>

    <script type="application/json" id="channels-data">
        <%= JSON.stringify(channels) %>
    </script>

    <script type="application/json" id="roles-data">
        <%= JSON.stringify(roles) %>
    </script>

    <script>
        const autoRoleLink = document.getElementById('autoRoleLink');
        autoRoleLink.addEventListener('click', function (event) {
            event.preventDefault();
            window.location.replace('/');
        });
    </script>

    <script>
        const checkbox = document.getElementById('switch');
        const defaultValue = checkbox.getAttribute('default-switch');

        checkbox.checked = defaultValue === 'true' ? true : false;

        const guildModule = document.getElementById('guild-module-checkbox');
        const guildModuleDefaultValue = guildModule.getAttribute('default-switch');
        const guildLeaveModule = document.getElementById('guild-leave-module-checkbox');
        const guildLeaveModuleDefaultValue = guildLeaveModule.getAttribute('default-switch');

        guildLeaveModule.checked = guildLeaveModuleDefaultValue === 'true' ? true : false;
        guildModule.checked = guildModuleDefaultValue === 'true' ? true : false;
    </script>
    <script src="../js/inviteblockerform.js"></script>
</body>

</html>