<html>

<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="icon" href="../assets/images/foxycake.png">
    <title>Foxy | Servidores</title>
    <link rel="stylesheet" href="/styles/dashboard.css" type="text/css">
</head>

<body>
    <%- include('../../global/header') %>
    <main>
        <div class="servers">
            <% const mappedGuilds=guilds %>
                <% mappedGuilds.forEach(guild=> { %>
                    <div class="server">
                        <div class="server__icon">
                            <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png" alt=""
                                onerror="this.src='https://media1.tenor.com/m/BLo6Zi2lLVAAAAAd/softnte-confused-cat.gif'">
                        </div>
                        <div class="server__info">
                            <h1>
                                <%= guild.name %>
                            </h1>
                        </div>
                        <div class="server__buttons">
                            <a href="/br/servers/<%= guild.id %>" class="server__button">Gerenciar</a>
                        </div>
                    </div>
                    <% }) %>
        </div>
        <%- include('../sidebar') %>
    </main>
</body>
<script src="../js/HeaderMobile.js"></script>

</html>