<html>

<head>
    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7726590371480649"
        crossorigin="anonymous"></script>
    <link rel="stylesheet" href="../styles/header.css">
    <link rel="icon" href="../assets/images/foxycake.png">
    <title>Foxy | Servidores</title>
    <link rel="stylesheet" href="/styles/dashboard.css" type="text/css">
</head>

<body>
    <header>
        <nav class="navigation-bar fixed" data-preload-persist="true" id="navigation-bar">
            <div class="left-entries">
                <div class="entry foxy-navbar-logo"><a href="/"><img src="../assets/images/Foxy.png" style="    font-size: 0px;
                        line-height: 0px;
                        width: 40px;
                        height: 40px;
    
                        position: absolute;
                        top: 3px;
                        border-radius: 100%;"></a></div>
                <div class="entry"><a href="/br/support" class="menu" data-preload-link="true"
                        data-preload-link-activated="true">
                        Suporte
                    </a></div>
                <div class="entry"><a href="/br/support/terms" class="menu" data-preload-link="true"
                        data-preload-link-activated="true">
                        Termos
                    </a></div>
                <div class="entry"><a href="/upvote" class="menu">
                        Votar
                    </a></div>
                <div class="entry"><a href="/br/premium" class="menu">
                        Premium
                    </a></div>
                <div class="entry"><a href="/br/commands" class="menu">
                        Comandos
                    </a></div>
            </div>
            <div class="right-entries">
                <div class="entry"><a class="theme-changer" id="theme-changer-button"><span>
                        </span><span style="display: none;">
                        </span></a></div>
                <div class="entry" id="locale-changer-button" style="cursor: default;">
                    </span>
                </div>
                <div class="entry">
                    <a href="/br/dashboard" id="login-button"><img
                            src="https://cdn.discordapp.com/avatars/<%= user.id %>/<%= user.avatar %>.png" style="    font-size: 0px;
                            line-height: 0px;
                            width: 40px;
                            height: 40px;
    
                            position: absolute;
                            top: 3px;
                            border-radius: 100%;">
                        <div style="    font-size: 0px;
                            line-height: 0px;
                            width: 40px;
                            visibility: hidden;
                            height: 0px;
                            display: inline-block;"></div><span style="padding-left: 4px;">
                            <%= user.global_name %>
                        </span>
                    </a>
                </div>
            </div>
            </div>
        </nav>
        <button id="menu" class="mobile">Menu</button>
    </header>
    <div id="mobile__menu" class="overlay">
        <a class="close">&times;</a>
        <div class="overlay__content">
            <a href="/github">GitHub</a>
            <a href="/discord">Suporte</a>
            <a href="/br/support/terms">Termos de uso</a>
            <a href="/br/dashboard">Dashboard</a>
        </div>
    </div>

    <main>
        <div class="servers">
            <% const mappedGuilds=guilds %>
                <% mappedGuilds.forEach(guild=> { %>
                    <div class="server">
                        <div class="server__icon">
                            <img src="https://cdn.discordapp.com/icons/<%= guild.id %>/<%= guild.icon %>.png" alt=""
                                onerror="this.src='https://cdn.discordapp.com/attachments/1068525425963302936/1132377114755211284/Sem_titulo.png'">
                        </div>
                        <div class="server__info">
                            <h1>
                                <%= guild.name %>
                            </h1>
                        </div>
                        <div class="server__buttons">
                            <a href="/br/servers/<%= guild.id %>" class="server__button">Gerenciar</a>
                        </div>
                    </div>
                    <% }) %>
        </div>
        <div class="left-sidebar">
            <div class="entries">
                <hr class="separator">
                <h2 class="section-title">Perfil</h2>
                <a href="/br/dashboard">
                    <div class="entry">
                        Estatísticas
                    </div>
                    <hr class="separator">
                    <h2 class="section-title">Servidores</h2>
                    <a href="/br/servers">
                        <div class="entry" id="selected">
                            Configurar um servidor
                        </div>
                        <hr class="separator">
                        <h2 class="section-title">Opções do usuário</h2>

                        <a href="/br/aboutme">
                            <div class="entry">
                                Alterar sobre mim
                            </div>
                        </a>

                        <a href="/br/daily">
                            <div class="entry">
                                Daily
                            </div>
                        </a>

                        <hr class="separator">
                        <h2 class="section-title">Extras</h2>
                        <a href="/br/premium">
                            <div class="entry">
                                Assinaturas ou loja de cakes
                            </div>
                        </a>
                        <hr class="separator">
                        <a href="/logout">
                            <div class="entry">
                                Sair
                            </div>
                        </a>
            </div>
        </div>
    </main>
</body>
<script src="../js/HeaderMobile.js"></script>

</html>